body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Header */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.accent-header {
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}

.header-contact-link {
    color: #434455;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404BBF;
}

/* Hero section */
.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07em;
}

.order-button {
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.order-button:hover, .order-button:focus {
    background-color: #404BBF;
}

/* Features section */
.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
}

.features-text {
    color: #434455;
}

/* Team section */
.team-section {
    background-color: #F4F4FD;
}

.team-section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.045em;
    text-transform: capitalize;
}

.team-card {
    background-color: #fff;
    text-align: center;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em
}

.team-job {
    color: #434455;
}

/* Portfolio section */
.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
}

.project-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
}

.project-type {
    color: #434455;

}

/* Footer */
.page-footer {
    background-color: #2E2F42;

}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.accent-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}